@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css?family=Roboto");



.logo-text {
  width: 95px;
  height: 23px;
  /* left: 193px; */
  margin-left: 50%;
  margin-top: 6%;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  display: flex;
  align-items: center;

  color: #000000;

}

.logo-svg {
  position: absolute;
  width: 20.38px;
  height: 16px;

}

.logo-svg-up {
  position: absolute;
  left: 9.13%;
  right: 90.51%;
  top: 3.15%;
  bottom: 95.26%;

  background: #FFFFFF;
  transform: rotate(90deg);
  z-index: 2;
}

.logo-svg-down {
  position: absolute;
  left: 8.97%;
  right: 90.67%;
  top: 3.99%;
  bottom: 94.42%;

  background: #FFFFFF;
  transform: rotate(90deg);
  z-index: 2;
}

.logo-circle {
  position: absolute;
  width: 23px;
  margin-left: 10%;
  height: 23px;
  top: 5px;

  border-radius: 50%;
  z-index: 1;
  background: #000000;
}

.logo {
  position: absolute;
  top: 5px;
  left: 30px
}

.page-container {
  display: flex;
  width: 100%;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.7);
  overflow: hidden;
  justify-content: center;
  flex-direction: row;
}

.auth-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 16px;
  opacity: 0;
  margin: 60px;
  pointer-events: none;
  transition: opacity 300ms, transform 500ms;
}

.auth-form.active {
  opacity: 1;
  transform: translateY(0) !important;
  pointer-events: all;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 16px;
  margin-top: 20px;
  justify-content: space-around;
}

.form-group--2-col {
  row-gap: 0;
  margin-bottom: 0;
}

.form-group--2-col > .form-group {
  flex-basis: 50%;
}

.form-group label {
  color: #777;
}

.form-input {
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  padding: 8px 12px;
  border-radius: 60px;
  transition: background-color 300ms ease-in-out;
}

.form-group .form-input:hover,
.form-group .form-input:active {
  background-color: #fff;
}

/*Notifications*/
.top-left {
  z-index: 1000;
  display: flex;
  align-items: center;
  padding: 20px;
  color: #fff;
  border-radius: 1vmin;
  line-height: 1.3;
  /*box-shadow:  5px 5px 15px #33653538;*/
  max-width: 350px;
  margin: 14px;
  top: 0;
  left: 0;
}

.top-left.do-show {
  animation: slide-in-left 1s ease-in-out forwards, slide-in-left 1s ease-in-out reverse forwards 5s;
}

.top-left[data-notification-status=success] {
  background-color: #66BB6A;
}
.top-left[data-notification-status=notice] {
  background-color: #29B6F6;
}
.top-left[data-notification-status=warning] {
  background-color: #FFCA28;
}
.top-left[data-notification-status=error] {
  background-color: #EF5350;
}
/*Notifications Ends*/

@keyframes fadeIn { from { opacity: 0; } to { opacity: 1; } }
@keyframes fadeOut { from { opacity: 1; } to { opacity: 0; } }
.fadeIn500 { animation: 500ms fadeIn forwards; }
.fadeOut500 { animation: 500ms fadeOut forwards; }
.fadeIn250 { animation: 250ms fadeIn forwards; }
.fadeOut250 { animation: 250ms fadeOut forwards; }

@keyframes slideDown { from { height: 0; } to { height: 100%; } }
@keyframes slideUp { from { height: 100%; } to { height: 0; } }
.slideDown500 { overflow: hidden; animation: 500ms slideDown forwards; }
.slideUp500 { overflow: hidden; animation: 500ms slideUp forwards; }
.slideDown250 { overflow: hidden; animation: 250ms slideDown forwards; }
.slideUp250 { overflow: hidden; animation: 250ms slideUp forwards; }



.sidebar {
  color: black;
  position: relative;
  display: flex;
  flex-direction: row;
  min-width: 30%;
  min-height: 100vh;
  transition: min-width 0.3s, left 0.3s;
  left: 0px;
  z-index: 100;
}
 .sidebar::-webkit-scrollbar-thumb {
  border-radius: 4px;
}
 .sidebar:hover::-webkit-scrollbar-thumb {
  background-color: #fff;
}
 .sidebar::-webkit-scrollbar {
  width: 6px;
  background-color: #edf1fc;
}
 .sidebar.collapsed {
  min-width: 80px;
}
 .sidebar.toggled {
  display: flex;
}
 .sidebar .sidebar-layout {
  height: auto;
  min-height: 100%;
  width: auto;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #edf1fc;
  z-index: 2;
  transition: width 0.3s, min-width 0.3s !important;
}
 .sidebar .sidebar-layout.collapsed {
  width: 80px;
  min-width: 80px;
}
 .sidebar .sidebar-layout .sidebar-header {
  height: 100px;
  min-height: 100px;
  display: flex;
  align-items: center;
  padding: 0 20px;
}
 .sidebar .sidebar-layout .sidebar-header > span {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
 .sidebar .sidebar-layout .sidebar-content {
  flex-grow: 1;
  padding: 10px 0;
}
 .sidebar .sidebar-layout .sidebar-footer {
  height: 230px;
  min-height: 230px;
  display: flex;
  align-items: center;
  padding: 0 20px;
}
 .sidebar .sidebar-layout .sidebar-footer > span {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
 .sidebar.collapsed .pro-sidebar-logo > h5 {
  opacity: 0;
}
 .sidebar.collapsed .footer-box {
  display: none;
}
 .sidebar.collapsed .sidebar-collapser {
  left: 60px;
}
 .sidebar.collapsed .sidebar-collapser i {
  transform: rotate(180deg);
}
 @media (max-width: 906px) {
  #btn-collapse {
    display: none;
  }
}
 @media (max-width: 906px) {
  .layout .sidebar.sidebar.break-point-sm {
    left: -280px;
    position: fixed;
    min-width: 280px;
    height: 100%;
  }
	 .layout .sidebar.break-point-sm.toggled ~ .overlay {
    display: block;
  }
	 .layout .sidebar.break-point-sm.toggled {
    left: 0px;
    z-index: 100;
    min-width: 280px;
    height: 100%;
  }
	 #btn-toggle {
    display: initial;
  }
}
 .layout.has-sidebar {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}
 .layout {
  z-index: 1;
}
 .layout .header {
  display: flex;
  align-items: center;
  padding: 20px;
}
 .layout .content {
  padding: 12px 50px;
  display: flex;
  flex-direction: row;
}
 .layout .content.opened {
  width: 100%;
  min-width: 100%;
}
 .layout .footer {
  text-align: center;
  margin-top: auto;
  margin-bottom: 20px;
  padding: 20px;
}
 .dot {
  height: 5px;
  width: 5px;
  background-color: black;
  border-radius: 50%;
  display: inline-block;
}
 .sidebar {
  color: black;
  position: relative;
  display: flex;
  flex-direction: row;
  min-width: 30%;
  transition: min-width 0.3s, left 0.3s;
  left: 0px;
  z-index: 100;
}
 .sidebar::-webkit-scrollbar-thumb {
  border-radius: 4px;
}
 .sidebar:hover::-webkit-scrollbar-thumb {
  background-color: #fff;
}
 .sidebar::-webkit-scrollbar {
  width: 6px;
  background-color: #edf1fc;
}
 .sidebar.collapsed {
  min-width: 80px;
}
 .sidebar.toggled {
  display: flex;
}
 .sidebar .form-search {
  position: relative;
  left: 50%;
  margin-top: 50px;
  transform: translate(-50%, -50%);
  transition: all 1s;
  width: 200px;
  height: 50px;
  background: white;
  box-sizing: border-box;
  border-radius: 25px;
  width: 75%;
  min-width: 75%;
  border: 4px solid white;
  padding: 5px;
  transition: opacity 0.1s !important;
}
 .sidebar .form-search .search-input {
  position: absolute;
  top: 0;
  left: 0;
  height: 42.5px;
  line-height: 30px;
  outline: 0;
  border: 0;
  font-size: 1em;
  border-radius: 20px;
  padding: 0 20px;
  width: 100%;
  display: block;
  cursor: pointer;
}
 .sidebar .form-search .search-input.valid {
  width: 200px;
  cursor: pointer;
}
 .sidebar .form-search.collapsed {
  opacity: 0;
}
 .sidebar .form-search:hover, .sidebar .form-search:valid {
  width: 200px;
  cursor: pointer;
}
 .sidebar .form-search:hover .search-input, .sidebar .form-search:valid .search-input {
  display: block;
}
 .sidebar a {
  display: none;
  position: absolute;
  top: 70px;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 20px;
  color: white;
  text-align: center;
  width: 100%;
  display: block;
}
 .sidebar .image-wrapper {
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 280px;
  display: none;
}
 .sidebar .image-wrapper > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
 .sidebar.has-bg-image .image-wrapper {
  display: block;
}
 .sidebar .sidebar-layout {
  height: auto;
  min-height: 100%;
  width: auto;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #edf1fc;
  z-index: 2;
  transition: width 0.3s, min-width 0.3s !important;
}
 .sidebar .sidebar-layout.collapsed {
  width: 80px;
  min-width: 80px;
}
 .sidebar .sidebar-layout .sidebar-header {
  height: 100px;
  min-height: 100px;
  display: flex;
  align-items: center;
  padding: 0 20px;
}
 .sidebar .sidebar-layout .sidebar-header > span {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
 .sidebar .sidebar-layout .sidebar-content {
  flex-grow: 1;
  padding: 10px 0;
}
 .sidebar .sidebar-layout .sidebar-footer {
  height: 230px;
  min-height: 230px;
  display: flex;
  align-items: center;
  padding: 0 20px;
}
 .sidebar .sidebar-layout .sidebar-footer > span {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
 @keyframes swing {
  0%, 30%, 50%, 70%, 100% {
    transform: rotate(0deg);
  }
	 10% {
    transform: rotate(10deg);
  }
	 40% {
    transform: rotate(-10deg);
  }
	 60% {
    transform: rotate(5deg);
  }
	 80% {
    transform: rotate(-5deg);
  }
}
 .layout {
  display: flex;
  flex-direction: row;
  height: auto;
  min-height: 100%;
  background-color: white;
}
 .layout .sidebar .menu .skills {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  opacity: 1;
  translate: opacity 0.3s !important;
}
 .layout .sidebar .menu .super-tab-button-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}
.tab-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: stretch;
  height: 60px;
  background: rgba(0, 0, 0, 0);
  color: black;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  border: none;
  opacity: 1;
  transition: opacity 0.3s !important;
}
.tab-button.toggled {
  opacity: 0;
}
.tab-button.active {
  color: #4977ea;
}
 .layout .sidebar .menu .skill-button {
  margin-left: 10px;
  margin-top: 10px;
  margin-right: 10px;
  padding: 5px 10px;
  border-radius: 0.5em;
  border: none;
  background-color: white;
  opacity: 1;
  translate: opacity 0.5s !important;
}
 .layout .sidebar .menu .skill-button.collapsed {
  opacity: 0;
}
 .layout .sidebar .menu .menu-header {
  font-weight: 600;
  padding: 10px 25px;
  font-size: 0.8em;
  letter-spacing: 2px;
  transition: opacity 0.3s;
  opacity: 0.5;
}
 .layout .sidebar .menu .menu-item a {
  display: flex;
  align-items: center;
  height: 50px;
  padding: 0 20px;
  color: black;
}
 .layout .sidebar .menu .menu-item a .menu-icon {
  font-size: 1.2rem;
  width: 35px;
  min-width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  display: inline-block;
  margin-right: 10px;
  border-radius: 2px;
  transition: color 0.3s;
}
 .layout .sidebar .menu .menu-item a .menu-icon i {
  display: inline-block;
}
 .layout .sidebar .menu .menu-item a .menu-title {
  font-size: 0.9em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex-grow: 1;
  transition: color 0.3s;
}
 .layout .sidebar .menu .menu-item a .menu-prefix, .layout .sidebar .menu .menu-item a .menu-suffix {
  display: inline-block;
  padding: 5px;
  opacity: 1;
  transition: opacity 0.3s;
}
 .layout .sidebar .menu .menu-item a:hover .menu-title {
  color: black;
}
 .layout .sidebar .menu .menu-item a:hover .menu-icon {
  color: black;
}
 .layout .sidebar .menu .menu-item a:hover .menu-icon i {
  animation: swing ease-in-out 0.5s 1 alternate;
}
 .layout .sidebar .menu .menu-item a:hover::after {
  border-color: black !important;
}
 .layout .sidebar .menu .menu-item.sub-menu {
  position: relative;
}
 .layout .sidebar .menu .menu-item.sub-menu > a::after {
  content: '';
  transition: transform 0.3s;
  border-right: 2px solid currentcolor;
  border-bottom: 2px solid currentcolor;
  width: 5px;
  height: 5px;
  transform: rotate(-45deg);
}
 .layout .sidebar .menu .menu-item.sub-menu > .sub-menu-list {
  padding-left: 20px;
  display: none;
  overflow: hidden;
  z-index: 999;
}
 .layout .sidebar .menu .menu-item.sub-menu.open > a {
  color: black;
}
 .layout .sidebar .menu .menu-item.sub-menu.open > a::after {
  transform: rotate(45deg);
}
 .layout .sidebar .menu .menu-item.active > a .menu-title {
  color: black;
}
 .layout .sidebar .menu .menu-item.active > a::after {
  border-color: black;
}
 .layout .sidebar .menu .menu-item.active > a .menu-icon {
  color: black;
}
 .layout .sidebar .menu > ul > .sub-menu > .sub-menu-list {
  background-color: #0b1a2c;
}
 .layout .sidebar .menu.icon-shape-circle .menu-item a .menu-icon, .layout .sidebar .menu.icon-shape-rounded .menu-item a .menu-icon, .layout .sidebar .menu.icon-shape-square .menu-item a .menu-icon {
  background-color: #0b1a2c;
}
 .layout .sidebar .menu.icon-shape-circle .menu-item a .menu-icon {
  border-radius: 50%;
}
 .layout .sidebar .menu.icon-shape-rounded .menu-item a .menu-icon {
  border-radius: 4px;
}
 .layout .sidebar .menu.icon-shape-square .menu-item a .menu-icon {
  border-radius: 0;
}
 .layout .sidebar:not(.collapsed) .menu > .menu-item.sub-menu > .sub-menu-list {
  visibility: visible !important;
  position: static !important;
  transform: translate(0, 0) !important;
}
 .layout .sidebar.collapsed .menu > ul > .menu-header {
  opacity: 0;
}
 .layout .sidebar.collapsed .menu > ul .super-tab-button-section > .row {
  opacity: 0;
}
 .layout .sidebar.collapsed .menu > ul .super-tab-button-section > .tab-button, .layout .sidebar.collapsed .menu > ul .form-search, .layout .sidebar.collapsed .menu > ul .skill-button, .layout .sidebar.collapsed .menu > ul .skills, .layout .sidebar.collapsed .menu > ul .menu-header {
  opacity: 0;
}
 .layout .sidebar.collapsed .menu > ul .super-tab-button-section > .row .togList1 .togList1 .list .tab-button, .layout .sidebar.collapsed .menu > ul .form-search, .layout .sidebar.collapsed .menu > ul .skill-button, .layout .sidebar.collapsed .menu > ul .skills, .layout .sidebar.collapsed .menu > ul .menu-header {
  opacity: 0;
}
 .layout .sidebar.collapsed .menu > ul > .tab-button {
  opacity: 0;
}
 .layout .sidebar.collapsed .menu > ul > .form-search {
  opacity: 0;
}
 .layout .sidebar.collapsed .menu > ul > .menu-item > a .menu-prefix, .layout .sidebar.collapsed .menu > ul > .menu-item > a .menu-suffix {
  opacity: 0;
}
 .layout .sidebar.collapsed .menu > ul > .menu-item.sub-menu > a::after {
  content: '';
  width: 5px;
  height: 5px;
  background-color: currentcolor;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  right: 10px;
  top: 50%;
  border: none;
  transform: translateY(-50%);
}
 .layout .sidebar.collapsed .menu > ul > .menu-item.sub-menu > a:hover::after {
  background-color: black;
}
 .layout .sidebar.collapsed .menu > ul > .menu-item.sub-menu > .sub-menu-list {
  transition: none !important;
  width: 200px;
  margin-left: 3px !important;
  border-radius: 4px;
  display: block !important;
}
 .layout .sidebar.collapsed .menu > ul > .menu-item.active > a::after {
  background-color: black;
}
 .layout .sidebar.collapsed .menu > ul > .skill-button {
  opacity: 0;
}
 .layout .sidebar.collapsed .menu > ul > .tab-button {
  opacity: 0;
}
 .layout .sidebar.collapsed .menu > ul > .skills {
  opacity: 0;
}
 .layout .sidebar.has-bg-image .menu.icon-shape-circle .menu-item a .menu-icon, .layout .sidebar.has-bg-image .menu.icon-shape-rounded .menu-item a .menu-icon, .layout .sidebar.has-bg-image .menu.icon-shape-square .menu-item a .menu-icon {
  background-color: rgba(11, 26, 44, 0.6);
}
 .layout .sidebar.has-bg-image:not(.collapsed) .menu > ul > .sub-menu > .sub-menu-list {
  background-color: rgba(11, 26, 44, 0.6);
}
 .layout.rtl .sidebar .menu .menu-item a .menu-icon {
  margin-left: 10px;
  margin-right: 0;
}
 .layout.rtl .sidebar .menu .menu-item.sub-menu > a::after {
  transform: rotate(135deg);
}
 .layout.rtl .sidebar .menu .menu-item.sub-menu > .sub-menu-list {
  padding-left: 0;
  padding-right: 20px;
}
 .layout.rtl .sidebar .menu .menu-item.sub-menu.open > a::after {
  transform: rotate(45deg);
}
 .layout.rtl .sidebar.collapsed .menu > ul > .menu-item.sub-menu a::after {
  right: auto;
  left: 10px;
}
 .layout.rtl .sidebar.collapsed .menu > ul > .menu-item.sub-menu > .sub-menu-list {
  margin-left: -3px !important;
}
 * {
  box-sizing: border-box;
}
 a {
  text-decoration: none;
}
 .layout .overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 99;
  display: none;
}
 .layout .overlay toggled {
  display: flex;
}
 @media (max-width: 906px) {
  #btn-collapse {
    display: none;
  }
}
 @media (max-width: 906px) {
  .layout .sidebar.sidebar.break-point-sm {
    left: -280px;
    position: fixed;
    min-width: 280px;
    height: 100%;
  }
	 .layout .sidebar.break-point-sm.toggled ~ .overlay {
    display: block;
  }
	 .layout .sidebar.break-point-sm.toggled {
    left: 0px;
    z-index: 100;
    min-width: 280px;
    height: 100%;
  }
	 #btn-toggle {
    display: initial;
  }
}
 .layout .sidebar .pro-sidebar-logo {
  display: flex;
  align-items: center;
}
 .layout .sidebar .pro-sidebar-logo > div {
  width: 35px;
  min-width: 35px;
  height: 35px;
  min-height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  color: white;
  font-size: 24px;
  font-weight: 700;
  background-color: #ff8100;
  margin-right: 10px;
}
 .layout .sidebar .pro-sidebar-logo > h5 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 20px;
  line-height: 30px;
  transition: opacity 0.3s;
  opacity: 1;
}
 .layout .sidebar .footer-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 0.8em;
  padding: 20px 0;
  border-radius: 8px;
  width: 180px;
  min-width: 190px;
  margin: 0 auto;
  background-color: #162d4a;
}
 .layout .sidebar .footer-box img.react-logo {
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
}
 .layout .sidebar .footer-box a {
  color: #fff;
  font-weight: 600;
  margin-bottom: 10px;
}
 .layout .sidebar .sidebar-collapser  {
  transition: left, right, 0.5s;
  position: fixed;
  left: 27.7%;
  top: 40px;
  width: 22px;
  height: 22px;
  padding: 0;
  border-radius: 50%;
  background-color: #00829f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  justify-content: center;
  font-size: 1.2em;
  transform: translateX(50%);
  z-index: 111;
  cursor: pointer;
  color: white;
  box-shadow: 1px 1px 4px #edf1fc;
}
 .layout .sidebar.collapsed .pro-sidebar-logo > h5 {
  opacity: 0;
}
 .layout .sidebar.collapsed .footer-box {
  display: none;
}
 .layout .sidebar.collapsed .sidebar-collapser {
  left: 60px;
}
 .layout .sidebar.collapsed .sidebar-collapser i {
  transform: rotate(180deg);
}
 .badge {
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
  color: #fff;
  background-color: #6c757d;
}
 .badge.primary {
  background-color: #ab2dff;
}
 .badge.secondary {
  background-color: #079b0b;
}
 .sidebar-toggler {
  position: fixed;
  right: 20px;
  top: 20px;
  top: 20px;
  padding: 20px;
  z-index: 1200;
}
 .social-links a {
  margin: 0 10px;
  color: #3f4750;
}



.profile-context {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  min-width: 70%;
  width: 100%;
  max-width: 95%;
}

.profile-info {
  display: flex;
  position:absolute;
  float: right;
  right: 5px;
  top: 5px;
}

.profile-info-right {
  margin-left: 50px;
  display: flex;
  margin-right: 40px;
}

.profile-info-add {
  margin-left: 50px;
  display: flex;
}



.profile-text-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  align-content: center;
  flex-wrap: wrap;
}

.simple-icon {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-right: 10px;
}
