@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

///
$text-color: black;
$secondary-text-color: black;

$bg-color: #EDF1FC;
$secondary-bg-color: #0b1a2c;

$border-color: rgba(#535d7d, 0.3);

$sidebar-header-height: 100px;
$sidebar-footer-height: 230px;


.sidebar {
	color: $text-color;
	position: relative;

	display: flex;
	flex-direction: row;
	min-width: 30%;

	transition: min-width .3s, left 0.3s;
	left: 0px;
	z-index: 100;
	&::-webkit-scrollbar-thumb {
		border-radius: 4px;
	}
  &:hover {
		&::-webkit-scrollbar-thumb {
			background-color: lighten($bg-color, 15);
		}
	}
  &::-webkit-scrollbar {
		width: 6px;
		background-color: $bg-color;
	}

  &.collapsed{
		min-width: 80px;
	}

  &.toggled {
		display: flex;
	}
	.sidebar-layout {
		height: auto;
		min-height: 100%;
		width: auto;
		min-width: 100%;
		display: flex;

		flex-direction: column;
		position: relative;
		background-color: $bg-color;
		z-index: 2;
		transition: width 0.3s, min-width 0.3s !important;

		&.collapsed {
			width: 80px;
			min-width: 80px;
		}
	.sidebar-header {
			height: $sidebar-header-height;
			min-height: $sidebar-header-height;
			display: flex;
			align-items: center;
			padding: 0 20px;

			> span {
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
			}
		}
	.sidebar-content {
			flex-grow: 1;
			padding: 10px 0;
		}
	.sidebar-footer {
			height: $sidebar-footer-height;
			min-height: $sidebar-footer-height;
			display: flex;
			align-items: center;
			padding: 0 20px;
			> span {
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
			}
		}
	}


	.sidebar-collapser {
		transition: left, right, 0.3s;
		position: fixed;
		left: 29.7%;
		top: 40px;
		width: 20px;
		height: 20px;
		padding: 0;
		border-radius: 50%;
		background-color: #00829f;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-align: center;
		align-items: center;
		justify-content: center;
		font-size: 1.2em;
		transform: translateX(50%);
		z-index: 111;
		cursor: pointer;
		color: white;
		box-shadow: 1px 1px 4px $bg-color;
	}

	&.collapsed {
		.pro-sidebar-logo {
			> h5 {
				opacity: 0;
			}
		}
	      .footer-box {
			display: none;
		}
	      .sidebar-collapser {
			left: 60px;
			i {
				transform: rotate(180deg);
			}
		}
	}
}


@media (max-width: 906px) {
	#btn-collapse {
		display: none;
	}
}

@media (max-width: 906px) {
	.layout .sidebar.sidebar.break-point-sm {
		left: -280px;
		position: fixed;
		min-width: 280px;

		height: 100%;
	}

.layout .sidebar.break-point-sm.toggled ~ .overlay {
		display: block;
	}

  .layout .sidebar.break-point-sm.toggled {
		left: 0px;
		z-index: 100;
		min-width: 280px;

		height: 100%;
	}
  #btn-toggle {
		display: initial;
	}
}
$text-color: black;
$secondary-text-color: black;

$bg-color: #EDF1FC;
$secondary-bg-color: #0b1a2c;

$border-color: rgba(#535d7d, 0.3);

$sidebar-header-height: 100px;
$sidebar-footer-height: 230px;
.layout.has-sidebar {
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
}

.layout {
	z-index: 1;
	.header {
		display: flex;
		align-items: center;
		padding: 20px;
	}
  .content {
		padding: 12px 50px;
		display: flex;
		flex-direction: row;

		&.opened {
			width: 100%;
			min-width: 100%;


		}
	}

  .footer {
		text-align: center;
		margin-top: auto;
		margin-bottom: 20px;
		padding: 20px;
	}
}

.dot {
	height: 5px;
	width: 5px;
	background-color: black;
	border-radius: 50%;
	display: inline-block;
}
.sidebar {
	color: $text-color;
	position: relative;

	display: flex;
	flex-direction: row;
	min-width: 30%;

	transition: min-width .3s, left 0.3s;
	left: 0px;
	z-index: 100;
	&::-webkit-scrollbar-thumb {
		border-radius: 4px;
	}
  &:hover {
		&::-webkit-scrollbar-thumb {
			background-color: lighten($bg-color, 15);
		}
	}
  &::-webkit-scrollbar {
		width: 6px;
		background-color: $bg-color;
	}

  &.collapsed{
		min-width: 80px;
	}

  &.toggled {
		display: flex;
	}


  .form-search{
		position: relative;
		left: 50%;
		margin-top: 50px;
		transform: translate(-50%,-50%);
		transition: all 1s;
		width: 200px;
		height: 50px;
		background: white;
		box-sizing: border-box;
		border-radius: 25px;
		width: 75%;
		min-width: 75%;
		border: 4px solid white;
		padding: 5px;
		transition: opacity 0.1s !important;
		.search-input{
			position: absolute;
			top: 0;
			left: 0;
			height: 42.5px;
			line-height: 30px;
			outline: 0;
			border: 0;
			font-size: 1em;
			border-radius: 20px;
			padding: 0 20px;
			width: 100%;
			display: block;

			cursor: pointer;
			&.valid {

				width: 200px;

				cursor: pointer;
			}
		}
    &.collapsed{
			opacity: 0;
		}
	}



  .form-search:hover,
  .form-search:valid{
		width: 200px;

		cursor: pointer;
	}

  .form-search:hover .search-input,
  .form-search:valid .search-input{
		display: block;
	}



  a {
		display: none;
		position: absolute;
		top: 70px;
		bottom:0;
		left: 0;
		right: 0;
		font-size: 20px;
		color: white;
		text-align: center;
		width: 100%;
		display: block;
	}



  .image-wrapper {
		overflow: hidden;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 1;
		width: 280px;
		display: none;
		> img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
		}
	}
  &.has-bg-image .image-wrapper {
		display: block;
	}

  .sidebar-layout {
		height: auto;
		min-height: 100%;
		width: auto;
		min-width: 100%;
		display: flex;

		flex-direction: column;
		position: relative;
		background-color: $bg-color;
		z-index: 2;
		transition: width 0.3s, min-width 0.3s !important;

		&.collapsed {
			width: 80px;
			min-width: 80px;
		}
    .sidebar-header {
			height: $sidebar-header-height;
			min-height: $sidebar-header-height;
			display: flex;
			align-items: center;
			padding: 0 20px;

			> span {
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
			}
		}
    .sidebar-content {
			flex-grow: 1;
			padding: 10px 0;
		}
    .sidebar-footer {
			height: $sidebar-footer-height;
			min-height: $sidebar-footer-height;
			display: flex;
			align-items: center;
			padding: 0 20px;
			> span {
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
			}
		}

	}
}


@keyframes swing {
	0%,
  30%,
  50%,
  70%,
  100% {
		transform: rotate(0deg);
	}

  10% {
		transform: rotate(10deg);
	}

  40% {
		transform: rotate(-10deg);
	}

  60% {
		transform: rotate(5deg);
	}

  80% {
		transform: rotate(-5deg);
	}
}

.layout {
	.sidebar {
		.menu {
			.skills {
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				opacity: 1;
				translate: opacity 0.3s !important;
			}

      .super-tab-button-section {
				display: flex;
				flex-direction: column;

				width: 100%;
				margin-top: 10px;
				margin-bottom: 10px;
			}
      .tab-button {
				display: flex;
				flex-direction: column;
				justify-content: center;
				flex-wrap: nowrap;
				align-items: stretch;
				height: 60px;
				background: rgba(0,0,0,0);
				color: black;
				font-family: 'Roboto';
				font-style: normal;
				font-weight: 600;

				line-height: 28px;

				color: #000000;
				border: none;

				opacity: 1;
				transition: opacity 0.3s !important;

				&.toggled {
					opacity: 0;
				}

        &.active {
					color:  #4977EA;
				}
			}

      .skill-button {
				margin-left: 10px;
				margin-top: 10px;
				margin-right: 10px;

				padding: 5px 10px;

				border-radius: 0.5em;

				border: none;
				background-color: white;
				opacity: 1;
				translate: opacity 0.5s !important;

				&.collapsed {
					opacity: 0;
				}
			}

      .menu-header {
				font-weight: 600;
				padding: 10px 25px;
				font-size: 0.8em;
				letter-spacing: 2px;
				transition: opacity 0.3s;
				opacity: 0.5;
			}
      .menu-item {
				a {
					display: flex;
					align-items: center;
					height: 50px;
					padding: 0 20px;
					color: $text-color;

					.menu-icon {
						font-size: 1.2rem;
						width: 35px;
						min-width: 35px;
						height: 35px;
						line-height: 35px;
						text-align: center;
						display: inline-block;
						margin-right: 10px;
						border-radius: 2px;
						transition: color 0.3s;
						i {
							display: inline-block;
						}
					}

          .menu-title {
						font-size: 0.9em;
						overflow: hidden;
						text-overflow: ellipsis;
						white-space: nowrap;
						flex-grow: 1;
						transition: color 0.3s;
					}
          .menu-prefix,
          .menu-suffix {
						display: inline-block;
						padding: 5px;
						opacity: 1;
						transition: opacity 0.3s;
					}
          &:hover {
						.menu-title {
							color: $secondary-text-color;
						}
            .menu-icon {
							color: $secondary-text-color;
							i {
								animation: swing ease-in-out 0.5s 1 alternate;
							}
						}
            &::after {
							border-color: $secondary-text-color !important;
						}
					}
				}

        &.sub-menu {
					position: relative;
					> a {
						&::after {
							content: '';
							transition: transform 0.3s;
							border-right: 2px solid currentcolor;
							border-bottom: 2px solid currentcolor;
							width: 5px;
							height: 5px;
							transform: rotate(-45deg);
						}
					}

          > .sub-menu-list {
						padding-left: 20px;
						display: none;
						overflow: hidden;
						z-index: 999;
					}
          &.open {
						> a {
							color: $secondary-text-color;
							&::after {
								transform: rotate(45deg);
							}
						}
					}
				}

        &.active {
					> a {
						.menu-title {
							color: $secondary-text-color;
						}
            &::after {
							border-color: $secondary-text-color;
						}
            .menu-icon {
							color: $secondary-text-color;
						}
					}
				}
			}
      > ul > .sub-menu > .sub-menu-list {
				background-color: $secondary-bg-color;
			}

      &.icon-shape-circle,
      &.icon-shape-rounded,
      &.icon-shape-square {
				.menu-item a .menu-icon {
					background-color: $secondary-bg-color;
				}
			}

      &.icon-shape-circle .menu-item a .menu-icon {
				border-radius: 50%;
			}
      &.icon-shape-rounded .menu-item a .menu-icon {
				border-radius: 4px;
			}
      &.icon-shape-square .menu-item a .menu-icon {
				border-radius: 0;
			}
		}

    &:not(.collapsed) {
			.menu
        > .menu-item {
				&.sub-menu {
					> .sub-menu-list {
						visibility: visible !important;
						position: static !important;
						transform: translate(0, 0) !important;
					}
				}
			}

		}

    &.collapsed {
			.menu > ul {
				> .menu-header {
					opacity: 0;
				}
        .super-tab-button-section > .row  {
					opacity: 0;
				}
        .super-tab-button-section > .tab-button, .form-search, .skill-button, .skills, .menu-header{
					opacity: 0;
				}

        .super-tab-button-section > .row .togList1 .togList1 .list .tab-button, .form-search, .skill-button, .skills, .menu-header{
					opacity: 0;
				}
        > .tab-button {
					opacity: 0;
				}
        > .form-search {
					opacity: 0;
				}
        > .menu-item {
					> a {
						.menu-prefix,
            .menu-suffix {
							opacity: 0;
						}
					}
          &.sub-menu {
						> a {
							&::after {
								content: '';
								width: 5px;
								height: 5px;
								background-color: currentcolor;
								border-radius: 50%;
								display: inline-block;
								position: absolute;
								right: 10px;
								top: 50%;
								border: none;
								transform: translateY(-50%);
							}
              &:hover {
								&::after {
									background-color: $secondary-text-color;
								}
							}
						}
            > .sub-menu-list {
							transition: none !important;
							width: 200px;
							margin-left: 3px !important;
							border-radius: 4px;
							display: block !important;
						}
					}
          &.active {
						> a {
							&::after {
								background-color: $secondary-text-color;
							}
						}
					}
				}
        > .skill-button{
					opacity: 0;
				}
        > .tab-button {
					opacity: 0;
				}
        > .skills {
					opacity: 0;
				}
			}
		}
    &.has-bg-image {
			.menu {
				&.icon-shape-circle,
        &.icon-shape-rounded,
        &.icon-shape-square {
					.menu-item a .menu-icon {
						background-color: rgba($secondary-bg-color, 0.6);
					}
				}
			}
      &:not(.collapsed) {
				.menu {
					> ul > .sub-menu > .sub-menu-list {
						background-color: rgba($secondary-bg-color, 0.6);
					}
				}
			}
		}
	}

  display: flex;
	flex-direction: row;
	height: auto;
	min-height: 100%;
	background-color: white;
	&.rtl {
		.sidebar {
			.menu {
				.menu-item {
					a {
						.menu-icon {
							margin-left: 10px;
							margin-right: 0;
						}
					}

          &.sub-menu {
						> a {
							&::after {
								transform: rotate(135deg);
							}
						}

            > .sub-menu-list {
							padding-left: 0;
							padding-right: 20px;
						}
            &.open {
							> a {
								&::after {
									transform: rotate(45deg);
								}
							}
						}
					}
				}
			}

      &.collapsed {
				.menu > ul {
					> .menu-item {
						&.sub-menu {
							a::after {
								right: auto;
								left: 10px;
							}

              > .sub-menu-list {
								margin-left: -3px !important;
							}
						}
					}
				}
			}
		}
	}
}

* {
	box-sizing: border-box;
}


a {
	text-decoration: none;
}
.layout .overlay {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.3);
	z-index: 99;
	display: none;
}
.layout .overlay  toggled{

	display: flex;
}

@media (max-width: 906px) {
	#btn-collapse {
		display: none;
	}
}

@media (max-width: 906px) {
	.layout .sidebar.sidebar.break-point-sm {
		left: -280px;
		position: fixed;
		min-width: 280px;

		height: 100%;
	}

.layout .sidebar.break-point-sm.toggled ~ .overlay {
		display: block;
	}

  .layout .sidebar.break-point-sm.toggled {
		left: 0px;
		z-index: 100;
		min-width: 280px;

		height: 100%;
	}
  #btn-toggle {
		display: initial;
	}
}



.layout {
	.sidebar {
		.pro-sidebar-logo {
			display: flex;
			align-items: center;

			> div {
				width: 35px;
				min-width: 35px;
				height: 35px;
				min-height: 35px;
				display: flex;
				align-items: center;
				justify-content: center;
				border-radius: 8px;
				color: white;
				font-size: 24px;
				font-weight: 700;
				background-color: #ff8100;
				margin-right: 10px;
			}

      > h5 {
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
				font-size: 20px;
				line-height: 30px;
				transition: opacity 0.3s;
				opacity: 1;
			}
		}

    .footer-box {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			text-align: center;
			font-size: 0.8em;
			padding: 20px 0;
			border-radius: 8px;
			width: 180px;
			min-width: 190px;
			margin: 0 auto;
			background-color: #162d4a;
			img.react-logo {
				width: 40px;
				height: 40px;
				margin-bottom: 10px;
			}
      a {
				color: #fff;
				font-weight: 600;
				margin-bottom: 10px;
			}
		}

    .sidebar-collapser {
			transition: left, right, 0.3s;
			position: fixed;
			left: 29.7%;
			top: 40px;
			width: 20px;
			height: 20px;
			padding: 0;
			border-radius: 50%;
			background-color: #00829f;
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-ms-flex-align: center;
			align-items: center;
			justify-content: center;
			font-size: 1.2em;
			transform: translateX(50%);
			z-index: 111;
			cursor: pointer;
			color: white;
			box-shadow: 1px 1px 4px $bg-color;
		}

    &.collapsed {
			.pro-sidebar-logo {
				> h5 {
					opacity: 0;
				}
			}
      .footer-box {
				display: none;
			}
      .sidebar-collapser {
				left: 60px;
				i {
					transform: rotate(180deg);
				}
			}
		}
	}
}

.badge {
	display: inline-block;
	padding: 0.25em 0.4em;
	font-size: 75%;
	font-weight: 700;
	line-height: 1;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: 0.25rem;
	color: #fff;
	background-color: #6c757d;

	&.primary {
		background-color: #ab2dff;
	}

  &.secondary {
		background-color: #079b0b;
	}
}

.sidebar-toggler {
	position: fixed;
	right: 20px;
	top: 20px;
	top: 20px;
	padding: 20px;
	z-index: 1200;
}

.social-links {
	a {
		margin: 0 10px;
		color: #3f4750;
	}
}


